.profile-user-picture-wrapper {
    margin-bottom: 10px;
}

.profile-user-picture-wrapper img {
    max-width: 100px;
}

.user-profile-contributions-list {

}

.user-profile-contributions-list li {
    padding: 4px 0;
}

.user-profile-contributions-list li i {
    margin-right: 4px;
}

.user-profile-page .user-profile-info .user-profile-info-image img {
	width: 100%;
}