
<div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-lg-offset-2">

        {{# badge }}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ badge_text }}</div>
        {{/badge}}
        <p>
            {{ intro_text }}
        </p>

        <a target="_blank" class="pull-right" href="{{& external_link }}">{{ _ "opauthprofile-profilepage-special-edit-link-external" }}</a>

        <form method="post" enctype="multipart/form-data">

            <div class="form-group">

                <label for="profile_picture">Picture</label>

                {{# profile_picture }}
                    <div class="profile-user-picture-wrapper">
                        <img src="{{ . }}" class="img-thumbnail" />
                    </div>
                {{/profile_picture}}

                <input type="file" class="form-control" name="profile_picture" id="profile_picture" value="{{ profile_picture }}" style="line-height: 10px;">
            </div>

            <div class="form-group">
                <label for="profile_name">Name</label>
                <input type="text" class="form-control" name="profile_name" id="profile_name" value="{{ profile_name }}">
            </div>

            <div class="form-group">
                <label for="profile_location">Location</label>
                <input type="text" class="form-control" name="profile_location" id="profile_location" value="{{ profile_location }}">
            </div>

            <div class="form-group">
                <label for="profile_phone">Phone</label>
                <input type="tel" class="form-control" name="profile_phone" id="profile_phone" value="{{ profile_phone }}">
            </div>

            <div class="form-group">
                <label for="profile_website">Website</label>
                <input type="url" class="form-control" name="profile_website" id="profile_website" value="{{ profile_website }}">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Update profile" />
            </div>

        </form>
    </div>
</div>