<div class="row user-profile-page">

    <div class="col-md-4 user-profile-info">
        <h3>{{ username }}</h3>
        <div class="row">
            <div class="col-md-6 user-profile-info-image">
                {{# picture }}
                    <img src="{{ . }}" class="img-thumbnail" />
                {{/picture}}
            </div>
            <div class="col-md-6 user-profile-info-details">
                <dl>
                    <dt>Name</dt>
                    <dd>{{ name }}</dd>
                    <dt>Location</dt>
                    <dd>{{ location }}</dd>
                    <dt>Phone</dt>
                    <dd>{{ phone }}</dd>
                    <dt>Website</dt>
                    <dd>{{ website }}</dd>
                </dl>
            </div>
        </div>

    </div>

    <div class="col-md-4 user-profile-contributions">
        <h3>Contributions <small>{{ contributions.edit_count }}</small></h3>
		<ul class="list-unstyled user-profile-contributions-list">
	    {{# has_edits }}
            {{# contributions.revisions }}
			<li>
				<i class="fa fa-{{type}}"></i>
				<span class="text-muted"> {{time}} </span>
				{{ text }}
				<a href="{{&page_link}}" target="_blank">{{ page_text }}</a>
				<span class="text-muted"> ( {{diff}} ) </span>
			</li>
            {{/contributions.revisions }}
            <li><a href="{{& morelink }}">More..</a></li>
		{{/ has_edits }}
	    {{^ has_edits }}
		    <li>Nothing to show yet.</li>
	    {{/ has_edits }}
		</ul>
    </div>

	<div class="col-md-4 user-profile-patrols-list">
		<h3>Patrols <small>{{ contributions.user_patrols_count }}</small></h3>
		{{# has_patrols }}
			{{# contributions.patrols }}
				<li>
					<i class="fa fa-check-square-o"></i>
					<span class="text-muted"> {{time}} </span>
					{{ text }}
					<a href="{{&page_link}}" target="_blank">{{ page_text }}</a>
				</li>
			{{/contributions.patrols }}
			<li><a href="{{& morelink_patrols }}">More..</a></li>
		{{/ has_patrols }}
		{{^ has_patrols }}
			<li>Nothing to show yet.</li>
		{{/ has_patrols }}
	</div>

</div>