<div class="row">
    <div class="col-md-4">
        <h3>{{ username }}</h3>
        <div class="row">
            <div class="col-md-6">
                {{# picture }}
                    <img src="{{ . }}" class="img-thumbnail" />
                {{/picture}}
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>Name</dt>
                    <dd>{{ name }}</dd>
                    <dt>Location</dt>
                    <dd>{{ location }}</dd>
                    <dt>Phone</dt>
                    <dd>{{ phone }}</dd>
                    <dt>Website</dt>
                    <dd>{{ website }}</dd>
                </dl>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <h3>Contributions</h3>
        TODO: ..
    </div>
</div>